<!DOCTYPE html>
<html lang="en">
<head>Dear Friend
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body bgcolor="green">
    <div>
    <h1>I love NODEJS</h1>
    <p>NODEJS allows me to build good Application Programming Interfaces with CRUD.</p>
    <p>Therefore, I Gisa Fred <br> I am glad to welcome you my friend. <br>HUANYI HUANGLIN Tie XieXie Le!!</p>
</html>